body{
  padding:70px 0 0 0;
  margin:0;
}
main{
  min-height:calc(100vh - 150px);
}
#photo{
  display:none;
}
.fa-camera {
  font-size:25px;
  display:inline-block;
  width:47px;
  border:1px solid #ced4da;
  padding:10px;
  cursor:pointer;
  }